.container {
  width: 100%;
}

.content {
  width: 75%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-content {
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.q {
  &-m {
    &-auto {
      margin: auto;
    }
    &-0 {
      margin: 0;
    }
    &t {
      &-0 {
        margin-top: 0;
      }
    }
    &b {
      &-0 {
        margin-bottom: 0;
      }
    }
    &l {
      &-0 {
        margin-left: 0;
      }
    }
    &r {
      &-0 {
        margin-right: 0;
      }
    }
    &x {
      &-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &y {
      &-0 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.h {
  &-100 {
    height: 100%;
  }
}

.text {
  &-small {
    font-size: 12px;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.color {
  &-primary {
    color: $primary;
  }
  &-secondary {
    color: $secondary;
  }
  &-accent {
    color: $accent;
  }
  &-disabled {
    color: $disabled;
  }
  &-white {
    color: $white;
  }
  &-dark {
    color: $dark;
  }
  &-black {
    color: #000;
  }
}

.w {
  &-40 {
    width: 40%;
  }
  &-50 {
    width: 50%;
  }
  &-60 {
    width: 60%;
  }
  &-70 {
    width: 70%;
  }
  &-80 {
    width: 80%;
  }
  &-90 {
    width: 90%;
  }
  &-100 {
    width: 100%;
  }
  &-content {
    width: fit-content;
  }
}

.rounded {
  border-radius: 10px;
}

.cursor {
  &-move {
    cursor: move;
  }
  &-grab {
    cursor: grab;
  }
  &-grabbing {
    cursor: grabbing;
  }
}
